@feintGreyColor: #F4F5F7;
@dividerColor: #DFE1E6;
@baseSpacing: 10px;
@doubleSpacing: @baseSpacing * 2;
@halfSpacing: @baseSpacing / 2;
@font-size-default: 14px;

.inherit-settings-toggle {
    background-clip: padding-box;
    border-radius: 3px;
    background-color: @feintGreyColor;
    border: 1px solid @dividerColor;
    padding: @doubleSpacing;
    margin: @doubleSpacing 0;

    h4 {
        margin-bottom: @baseSpacing;
    }

    #useCustom {
        padding-left: 2px;
    }

    #inherit-settings-selection {
        // Most of the styles in this section are copied from AUI's form styles to make the
        // formatting of this component consistent whether it appears in a form or not.
        box-sizing: border-box;
        clear: both;
        padding: 4px 0 4px 0;
        position: relative;
        margin: 1px 0;
        width: 100%;

        legend {
            display: none;
        }

        .radio {
            padding: 0 0 0 @doubleSpacing;
            margin: 5px 0 0 0;
            position: relative;

            input {
                box-sizing: border-box;
                font-size: @font-size-default;
                height: @doubleSpacing;
                left: 0;
                margin: 0;
                padding: 2px;
                position: absolute;
                vertical-align: baseline;
            }
        }

        legend + .radio {
            margin: 0;
            padding-top: @halfSpacing;
        }
    }
}
